body {
    width: 100%;
    font-size: 14px;
}

.container {
    margin-top: 50px;
}

.list-group-item {
    cursor: pointer;
}

.correct {
    background-color: #289a27;
}

.incorrect {
    background-color: #c41a21;
}
.check {
    background-color: darkgoldenrod;
}
.gray {
    background-color: gray;
}
.buttons {
    padding: 10px 10px 10px 0;
}
.myTimer {
    position: fixed;
    left: 960px;
    top: 15px;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}
.myProgress {
    width: 100%;
    background-color: grey;
}

.myBar {
    width: 100%;
    height: 30px;
    background-color: cornflowerblue;
}

.questionBar {
    width: 100%;
    margin-top: 50px;
    background-color: white;
    padding-top: 5px;
    padding-left: 3%;
}
.questionBox {
    display: inline-block;
    height: 30px;
    width: 4.5%;
    margin-right: 0.1%;
}
